<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Cyrus-Computer GmbH freie Software, Warenwirtschaft unter LINUX</title>
<meta name="robots" content="index"> 
<meta name="description" content="CUON is a business application running under LINUX, with Linux and Windows Clients, Addresses, Articles, Project, Orderbook, Invoices, Document Management System">
<meta name="keywords" content="C.U.O.N., Support Ticket bug tracker">
</head>

<body>

<script src="menu_navigation.js" type="text/javascript"></script> 
<link rel="stylesheet" type="text/css" href="main_index.css">
%#template to generate a HTML table from a list of tuples (or list of lists, or tuple of tuples or ...)
<p>The open items are as follows:</p>
<table border="1">
%for row in rows:
  <tr><td>ID</td><td>{{row['id']}}</td></tr>
  <tr><td>Number</td><td> {{row['ticket_number']}}</td></tr>
   <tr><td>Short Designation </td><td>{{row['short_designation']}}</td> </tr>
   
   <tr><td>Status</td><td>{{row['status_id']}}</td></tr>

</table><br /><br />


Designation:<br />
<table border="1">
<tr><td>{{row['designation']}}</td></tr>
</table>
<br /><br />
Note:<br />
<table>
<tr><td>{{row['note']}}</td></tr>
</table>
%end



</body>
</html>
