body {
    font-family:Arial, Helvetica, sans-serif;
    
    margin: 0 0 0 0;
    color: #000000;
}

div#page {

   margin-top:10px;
   margin-left:10px;
   background-color: #3DB2F0; 
}

div#welcome {
    margin-left:55px;
    margin-top:0px;
    font-size:42px;
    color: #CD2626;
    
}

div#introtext {
    margin-left:55px;
    
    font-size:28px;
    color: #006400;
    
}
div#question {
	margin-left:55px;
    font-size:16px;
	color: #CD2626;
}
div#answer {
	margin-left:55px;
    font-size:16px;
	color: #0000CD;
}	
div#login-block {
	 margin-top:60px;
    margin-left:5px;
    font-size:20px;
}


input.txtInput {
	margin-top:10px;
    margin-left: 5px;
}
